@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap");

@layer base {
  body {
    color: #12294d;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

.bg-hero {
  background-image: linear-gradient(to bottom, #bddafd85, #12294dba),
    url(../images/zaluzje-47.webp);
  height: 91dvh;
}
